{{#if showBundleInformation}}
<div class="well">
  <div class="container">
    {{#link-to 'bundle' bundle.id}}<h2 class="col-sm-10">{{bundle.bundleName}}</h2>{{/link-to}}
    <h1 class="col-sm-2">${{bundle.price}}</h1>
    <h4 class="col-sm-12">{{bundle.description}}</h4>
  </div>
  <img class="bundle-image" src={{bundle.bundleImage}} alt={{bundle.bundleName}}/>
  <button class="btn btn-danger col-sm-6"{{action 'deleteBundle' bundle}}>Delete</button>
  {{update-bundle updateBundle="updateBundle" bundle=bundle}}
</div>
{{else}}
  <div class="container">
    <button class="btn btn-info btn-bundle btn-block" {{action 'showInformation'}}>{{bundle.bundleName}}</button>
  </div>
{{/if}}
